@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$primary: #1a129f;
$primary-darker : #00006f;
$secondary: #9443b9;
$success : #43b943;
$danger : #b94343;
$warning : #b1b943;
$info : #ada;

*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-content{
    background-image: url("../_data/bg-Shape.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}


.about-content-img{
    background-image: url("../_data/bg-2.svg");
}

.button{
    padding: 0.5rem 1.5rem !important;
    border-radius: 1rem !important;
}

.main-navbar{
    position: absolute;
}

.serviecs-content{
    background-image: url(../_data/bg-3.svg);
}

.service-box{
    border-radius: 20px !important;
    border: none !important;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2) !important;
}

.service-box:hover{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5) !important;
    transform: scale(0.98);
}

.service-box-text{
    height:200px;
}

.pricing{
    background-color: #1a129f1a;
}


ul.slick-dots  {
    display:flex;
    align-items: center;
    justify-content: center;
}

ul.slick-dots li{
    align-items : center;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.slick-dots li button{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #19129f1a !important;
}

ul.slick-dots li.slick-active button{
    width:20px;
    height:20px;
    background-color: #19129fa1 !important;
}

ul.slick-dots li button::before{
    content: "";
}
@media screen and (max-width : 1366px){
    .about-content-img .custom-width{
        width: 90% !important;
    }
}




@import "../node_modules/bootstrap/scss/bootstrap";