@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$primary: #1a129f;
$primary-darker : #00006f;
$secondary: #9443b9;
$success : #43b943;
$danger : #b94343;
$warning : #b1b943;
$info : #ada;

*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-content{
    background-image: url("../_data/bg-Shape.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}


.about-content-img{
    background-image: url("../_data/bg-2.svg");
}

.button{
    padding: 0.5rem 1.5rem !important;
    border-radius: 1rem !important;
}

.main-navbar{
    position: absolute;
}

.serviecs-content{
    background-image: url(../_data/bg-3.svg);
}

.service-box{
    border-radius: 20px !important;
    border: none !important;
}

.service-box-text{
    height:200px;
}

@media screen and (max-width : 1366px){
    .about-content-img .custom-width{
        width: 90% !important;
    }
}




@import "../node_modules/bootstrap/scss/bootstrap";